<div class="content-body">
    <div class="display-flex card-alignment">
        <h3 class="header-txt-color space-after-header">Employee Portal</h3>
    </div>
    <div class="card-deck align-tabs display-flex card-alignment">
        <div class="card">
            <div class="card-body text-center card-color" routerLink="/register">
                <b>Register</b>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center card-color" routerLink="/view">
                <b>View Registration</b>
            </div>
        </div>
    </div>
</div>